# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:@localhost:5432/documents_management2"
PORT=8000
JWT_SECRET=documents_management_secret_key
FRONT_END_URL=http://localhost:3000

GOOGLE_CLIENT_ID=390971055625-1sk0ekdrc1a63dbm27ofns24jqmk2mpt.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

EMAIL_USER=bm.hcmc.hungvv@gmail.com
EMAIL_PASS=gmja ihgs osvn qlto

VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_TMN_CODE=SEGTAMBH
VNPAY_HASH_SECRET=J0VYEL7JISS83BVGW2IDJ39OHIJ96WUQ
RETURN_URL=https://a4bc-2001-ee0-4902-b970-c49b-c78f-e218-4316.ngrok-free.app/api/v1/vnpay/return
